<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>RoomPartner</title>
    <style>
        h1 {
            text-align: center;
        }
    </style>

</head>

<body>

    <!-- navigation bar -->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="https://user-images.githubusercontent.com/62644568/111613017-12b48800-8804-11eb-8aea-a50f0ab3dd9c.jpg" alt="" width="30" height="24"
                    class="d-inline-block align-top">
                RoomPartner</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--Adding carousel-->

    <div class="container-fluid">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img  src="https://user-images.githubusercontent.com/62644568/111613017-12b48800-8804-11eb-8aea-a50f0ab3dd9c.jpg
                    " class="d-block w-100"
                        alt="..." height="500">
                </div>
            </div>
        </div>
    </div>
    <br>
    <h3>This is advertisement section</h3><br>
    <div class="container" style="height: auto;width: auto;">
        <a href="ad">Post Advertisement</a>
    </div>
        
    

    <!--About-->
    <div class="container-fluid">
        <p>
        <h1 id="about"> About Us</h1><br>
        <h3>This is About section </h3>
        </p>

    </div>

    <!--Contact Us-->

    <div class="container-fluid">
        <p>
        <h1 id="contact">Contact Us</h1><br>
        <h3>This is contacts section </h3>
        </p>
    </div>

    <!--showing data-->


</body>

</html>